.table > tbody > tr > td {
    vertical-align: middle !important;
}

/*[class*="col-"] {
    background-color: rosybrown;
    border: 1px solid black;
}*/

.jumbotron {
    padding: 30px 60px !important;
}

.ss-10x {
    font-size: 10em !important;
}

.content {
}

.title {
    margin: auto;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.rotated90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#container {
    margin-top: 10px;
}

.divider-vertical {
    border: 2px solid grey;
    width: 0;
    margin: 10px 0;
    border-right: 0px;
}

.navbar-brand{
    padding: 10px;
    margin: 0;
}
