.table > tbody > tr > td {
    vertical-align: middle !important;
}

.jumbotron {
    padding: 30px 60px !important;
}

.ss-10x {
    font-size: 10em !important;
}

body {
    margin-top: 80px;
}

.title {
    margin: auto;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.rotated90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#container {
    margin-top: 10px;
}

.divider-vertical {
    border: 2px solid grey;
    width: 0;
    margin: 10px 0;
    border-right: 0px;
}

.navbar-brand{
    position: relative;
    top: -3px;
}

.navbar-brand .ss{
    margin-right: 5px;
}

/* Custom Navbar Stuff */
.dropdown-btn-menu{
    padding: 10px;
    margin: 0;
}

.dropdown-btn-menu .btn{
    margin: 3px 0;
    width: 100%;
    padding: 1px;
}

.dropdown-pill-menu{
    padding: 10px;
    margin: 0;
    background-color: #5D5D5D;
}

.filter-pill{
    background-color: #3d3d3d;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 3px 0;
}

.filter-pill .fa{
    color: #dd0000;
    position: absolute;
    right: 5px;
    top: 2px;
}
/* SetSymbols */

.table-striped > tbody > tr:nth-of-type(even) .ss-pill{
    /*
    background-color: #5D5D5D;
    */
    color: #dddddd;
}

.table-striped > tbody > tr:nth-of-type(odd) .ss-pill{
    /*
    background-color: #7D7D7D;
    */
    color: #dddddd;
}

.ss-dark.ss-common{
    color: #dddddd;
}

/* Card Element from Spoiler view-type */

.mct-card{
    margin: 5px 3px;
}

.mct-card .panel-body{
    padding: 0;
}

.mct-card .mct-image{
    width: 200px;
}

.mct-card .panel-footer, .mct-card .panel-heading{
    padding: 0;
}

/* General usefull classes */

img.fade-out{
    opacity: 0.4;
}

.form-inline{
    display: inline;
}

.d-flex{
    display: flex!important;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

/* Custom Panel Styles */

.panel-heading h3{
    margin: 5px 0;
}


/* Navbar */

.navbar input {
    background-color: #ddd;
    color: #3D3D3D;
    border: 1px solid #5D5D5D;
    font-weight: bold;
}

.navbar .input-group span{
    color: #ccc;
    background-color: #7D7D7D;
    border: 1px solid #5D5D5D;
}

/* Table Styles */
th:last-child, td:last-child {
    text-align: right;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}